Data Structure/azure/logicapp.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "thumbnail_가져오기": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/default/GetFileByPath",
                    "queries": {
                        "path": "/imgforyoutube/@{variables('fileName')}@{body('엔터티_가져오기')?['img_extension']}",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {
                    "video_가져오기": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "thumbnail_삭제": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "delete",
                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/imgforyoutube/',variables('fileName'),body('엔터티_가져오기')?['img_extension']))}"
                },
                "runAfter": {
                    "youtubeupload": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "video_가져오기": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/datasets/default/GetFileByPath",
                    "queries": {
                        "path": "/fileforyoutube/@{variables('fileName')}@{body('엔터티_가져오기')?['vid_extension']}",
                        "queryParametersSingleEncoded": true
                    }
                },
                "runAfter": {
                    "엔터티_가져오기": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "video_삭제": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureblob']['connectionId']"
                        }
                    },
                    "method": "delete",
                    "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent('/fileforyoutube/',variables('fileName'),body('엔터티_가져오기')?['vid_extension']))}"
                },
                "runAfter": {
                    "thumbnail_삭제": [
                        "Succeeded",
                        "Failed",
                        "Skipped",
                        "TimedOut"
                    ]
                },
                "type": "ApiConnection"
            },
            "youtubeupload": {
                "inputs": {
                    "body": {
                        "table": "@body('엔터티_가져오기')",
                        "thumbnail": "@body('thumbnail_가져오기')?['Name']",
                        "video": "@body('video_가져오기')?['Name']"
                    },
                    "function": {
                        "id": "/subscriptions/df794b46-43e0-4cf8-ae3a-a160b5c659d4/resourceGroups/YoutubeScheduler/providers/Microsoft.Web/sites/YS-function/functions/youtubeupload"
                    },
                    "method": "POST"
                },
                "runAfter": {
                    "thumbnail_가져오기": [
                        "Succeeded",
                        "Failed",
                        "TimedOut",
                        "Skipped"
                    ]
                },
                "type": "Function"
            },
            "변수_설정": {
                "inputs": {
                    "name": "fileName",
                    "value": "@{substring(triggerBody()?['subject'], add(lastIndexOf(triggerBody()?['subject'], '/'), 1), sub(sub(lastIndexOf(triggerBody()?['subject'], '.'), lastIndexOf(triggerBody()?['subject'], '/')), 1))}"
                },
                "runAfter": {
                    "변수_초기화": [
                        "Succeeded"
                    ]
                },
                "type": "SetVariable"
            },
            "변수_초기화": {
                "inputs": {
                    "variables": [
                        {
                            "name": "fileName",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {},
                "type": "InitializeVariable"
            },
            "엔터티_가져오기": {
                "inputs": {
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azuretables']['connectionId']"
                        }
                    },
                    "method": "get",
                    "path": "/Tables/@{encodeURIComponent('myTable')}/entities(PartitionKey='@{encodeURIComponent('data')}',RowKey='@{encodeURIComponent(variables('fileName'))}')"
                },
                "runAfter": {
                    "변수_설정": [
                        "Succeeded"
                    ]
                },
                "type": "ApiConnection"
            },
            "조건": {
                "actions": {
                    "성공": {
                        "inputs": {
                            "runStatus": "Succeeded"
                        },
                        "runAfter": {
                            "엔터티_삭제": [
                                "Succeeded"
                            ]
                        },
                        "type": "Terminate"
                    },
                    "엔터티_삭제": {
                        "inputs": {
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                                }
                            },
                            "method": "delete",
                            "path": "/Tables/@{encodeURIComponent('myTable')}/entities/etag(PartitionKey='@{encodeURIComponent('data')}',RowKey='@{encodeURIComponent(variables('fileName'))}')"
                        },
                        "runAfter": {},
                        "type": "ApiConnection"
                    }
                },
                "else": {
                    "actions": {
                        "실패": {
                            "inputs": {
                                "runError": {
                                    "code": "500",
                                    "message": "youtube upload not launched"
                                },
                                "runStatus": "Failed"
                            },
                            "runAfter": {},
                            "type": "Terminate"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "@outputs('youtubeupload')['statusCode']",
                                200
                            ]
                        }
                    ]
                },
                "runAfter": {
                    "video_삭제": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "리소스_이벤트가_발생하는_경우": {
                "inputs": {
                    "body": {
                        "properties": {
                            "destination": {
                                "endpointType": "webhook",
                                "properties": {
                                    "endpointUrl": "@{listCallbackUrl()}"
                                }
                            },
                            "filter": {
                                "includedEventTypes": [
                                    "Microsoft.Storage.BlobCreated"
                                ],
                                "subjectBeginsWith": "/blobServices/default/containers/fileforyoutube"
                            },
                            "topic": "/subscriptions/df794b46-43e0-4cf8-ae3a-a160b5c659d4/resourceGroups/YoutubeScheduler/providers/Microsoft.Storage/storageAccounts/storageforys"
                        }
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['azureeventgrid_1']['connectionId']"
                        }
                    },
                    "path": "/subscriptions/@{encodeURIComponent('df794b46-43e0-4cf8-ae3a-a160b5c659d4')}/providers/@{encodeURIComponent('Microsoft.Storage.StorageAccounts')}/resource/eventSubscriptions",
                    "queries": {
                        "x-ms-api-version": "2017-09-15-preview"
                    }
                },
                "splitOn": "@triggerBody()",
                "type": "ApiConnectionWebhook"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "azureblob": {
                    "connectionId": "",
                    "connectionName": "",
                    "id": "/subscriptions/df794b46-43e0-4cf8-ae3a-a160b5c659d4/providers/Microsoft.Web/locations/koreacentral/managedApis/azureblob"
                },
                "azureeventgrid_1": {
                    "connectionId": "",
                    "connectionName": "",
                    "id": "/subscriptions/df794b46-43e0-4cf8-ae3a-a160b5c659d4/providers/Microsoft.Web/locations/koreacentral/managedApis/azureeventgrid"
                },
                "azuretables": {
                    "connectionId": "",
                    "connectionName": "",
                    "id": "/subscriptions/df794b46-43e0-4cf8-ae3a-a160b5c659d4/providers/Microsoft.Web/locations/koreacentral/managedApis/azuretables"
                }
            }
        }
    }
}